<div w3-include-html="public/cloudflare-tracker.html"></div>
<iframe src="https://go.emo.gg/vote/1" width="33%" height="100%" style="border:none;">
</iframe>
<iframe src="https://go.emo.gg/vote/2" width="33%" height="100%" style="border:none;">
</iframe>
<iframe src="https://go.emo.gg/vote/3" width="33%" height="100%" style="border:none;">
</iframe>
